.nav_3 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
    height: 40px;
    background-color: #FFFFFF;
    color: #c6c6c6;
}

.nav_3 ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
}

.nav_3 li {
    padding: 0 20px;
    margin: 0;
    height: 40px;
    padding-top: 10px;
}

.nav_3 li:hover {
    background-color: #32CD32;
}

.a_3 {
    text-decoration: none;
    font-size: 14px;
    color: #c6c6c6;
}


.list_3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line1_3 {
    width: 25px;
    height: 1px;
    border: 2px solid #c6c6c6;
    border-radius: 10%;
}

.line2_3 {
    width: 25px;
    height: 2px;
    border: 2px solid #c6c6c6;
    border-radius: 10%;
}

.line3_3 {
    width: 25px;
    height: 2px;
    border: 2px solid #c6c6c6;
    border-radius: 10%;
}

.circle_3 {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 3px solid #c6c6c6;
}

.handle_3 {
    position: absolute;
    width: 13px;
    border: 2px solid #c6c6c6;
    transform: rotate(40deg);
    top: 62%;
    right: 22px;
}